# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-*

# Temporary files
*.tmp
*.bak
*.backup

# Logs
*.log
zephyr-sdk-*
*_store.json
*_store.ts

# Test isolation
.test-mise-data/
*-fake-workspace/
/tests/sandbox/
/backup
